@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<PageTitle>Generate meeting minutes</PageTitle>

<h1>Get your meeting minutes from transcript!</h1>


<input @bind="organizerEmail" placeholder="Organizer email" />
<input @bind="joinWebUrl" placeholder="Join web url" />
<input @bind="apiKey" type="password" placeholder="API Key" />
<button @onclick="Generate">Generate</button>

@if (!string.IsNullOrEmpty(response))
{
    <p>@response</p>
}
@code {
    private string? organizerEmail;
    private string? joinWebUrl;
    private string? response;
    private string? apiKey;

    private async Task Generate()
    {
        var requestDto = new RequestDto(organizerEmail, joinWebUrl);
        Http.DefaultRequestHeaders.Add("ApiKey", apiKey);
        var apiResponse = await Http.PostAsJsonAsync("api/meeting-summaries", requestDto);
        if (!apiResponse.IsSuccessStatusCode)
        {
            response = "Error, please contact us.";
        }
        else
        {
            response = "Expect mail with your meeting minutes in few minutes!";
        }

    }

    record RequestDto(string OrganizerEmail, string JoinWebUrl);
}
